Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

URxvt.font:           9x15,xft:Noto Sans Mono
URxvt*scrollBar:      false
URxvt*cursorBlink:    true

#include "/home/knoone/Xresources-themes/xcolors-tango.Xresources"
